.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding:30px 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height:140px;
  background: #FFF;
  padding: 10px;
  border-radius: 34px;
}

.resultInfo {
  font-size:large
}

.filters {
  text-align:left;
  margin-left:20px;
}

#tab-container {
  margin: 0 40px;
}
#elasticsearch {
  height:500px;
}
#elasticsearch h2 {
  margin:50px 0 30px;
}
.directions-click {
  cursor:pointer;
}
